@import "tailwindcss";
@plugin "daisyui";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #1f2937 !important; /* text-gray-800 */
  font-family: 'Inter', 'ui-sans-serif', system-ui, sans-serif !important; /* or your Tailwind base font */
  border: 1px solid #e5e7eb !important; /* border-gray-200 */
  border-radius: 0.75rem !important; /* rounded-xl */
  transition: background-color 9999s ease-in-out 0s;
  caret-color: #6b21a8 !important;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #1a202c !important;
  caret-color: #1a202c !important;
}
